# Add any directories, files, or patterns you don't want to be tracked by version control
*.o
*.elf
*~
*.swp
build/
bin/
.dep/
*.lst
*.lss
*.map
*.sym
*.bin
*.hex
*.eep
.keep
\#*\#
.\#*
tags
TAGS
Debug/
*.obj
*.pdb
*.idb
*.tlog
.vs/
*~*
